@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Roboto:wght@100&display=swap');

@media(min-width: 900px){}          /*here's your break-point  anything under this px gets edited different*/

*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("images/pexels-aaron-ulsh-2860705.jpg");
    /* background-image: linear-gradient(to bottom, #5DD1FC, #56CAFB, #46BAF7, #39B6FA);       make this an alternative bg */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    font-family: 'Crimson Pro', serif;
}
.site img{
    border-radius: 10px;
    height: 164px;
    width: 313px;
}


.button{
    background-color: white;
    border-top: 5px white solid;
    padding: 5px;
    margin-right: 10px;
    color: #6b9ba9;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    
    display: inline-block;
    cursor: pointer;
    transition-duration: 0.4s;
}
.button:hover{
    border-top: 5px #006c80 solid;
    color: #006c80;
}

footer a:link{
    color: white;
    text-decoration: none;
    transition-duration: 0.4s;
}
footer a:visited{
    color: white;
    text-decoration: none;
    transition-duration: 0.4s;
}
footer a:hover{
    color: grey;
}
footer a:active{
    color: white;
}

main {         /*holds site cards*/
    display: flex;
    flex-direction: column;

    padding: 0px 0px 0px 0px;

    border: 5px solid white;
}

header{
    display: flex;
    justify-content: space-around;

    /* background-color: #000031; */
    color: #006c80;
    padding: 5px;
    
    /* border: 5px white solid; */
}
.head1{
    flex: 3;
    flex-basis: 50%;            /*flex box width*/
    align-self: center;

    text-align: right;
    /* border: 5px white solid; */
}
.head2{
    flex: 1;
    flex-basis: 25%;            /*flex box width*/
    text-align:right;
    margin: 0px;
    
    /* border: 5px white solid;    */
}
#resume{
    text-align: left;
}
    
main {                                      /*holds site cards*/
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 10px 0px 10px 0px;
    
    /* border: 5px white solid; */
}
.siteCard{
    display: flex;
    flex-flow: row wrap;            /*flex-direction, flex-wrap*/
    justify-content: center;

    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 30px;
    margin: 20px;
    color: #00224C;
    border-left: 5px black solid;
    border-right: 5px black solid;

    transition-duration: 0.2s;

}
.siteCard:hover{
    border-radius: 30px;
    border: 5px black solid;
    background-color: rgba(255, 255, 255, 0.9);
}
.site{
    flex: 0 0 auto;          /* flex grow, flex shrink, flex basis*/
    align-items: center;

    padding: 10px;
    text-align: center;
    /* border: 5px white solid; */
}

.info{
    display: flex;
    flex: 0 0 auto;          /* flex grow, flex shrink, flex basis*/
    align-self: center;

    padding: 0px 5px 0px 10px;

    border-left: 4px black solid;
}
.info table{
    width: 250px;
    height: 150px;
    margin: auto;
    border-collapse: collapse;
}
.info th{
    font-size: 20px;
}


footer{
    display: flex;
    /* justify-content: center; */
    flex-direction: row;

    /* background-color: #000031; */
    background: rgba(0, 0, 19.22, 0.3);
    color: white;
}
.feet{
    flex: 1;
    align-self: center;

    text-align: center;
}


/* yellow #CDCE51 */