@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Roboto:wght@100&display=swap');

@media(min-width: 900px){}          /*here's your break-point  anything under this px gets edited different*/

*{
    margin: 0;
    padding: 0;
}
body{
    /*gradient and url are stacked; if image unavailable, gradient will show; both bg can be seen onload*/
    background-image: url("images/pexels-aaron-ulsh-2860705.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    font-family: 'Crimson Pro', serif;
    /* padding: 20px 0 0 0; */
}



.button{
    background-color: white;
    border-top: 5px white solid;
    padding: 5px;
    margin-right: 10px;
    color: #6b9ba9;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    
    display: inline-block;
    cursor: pointer;
    transition-duration: 0.4s;
}
.button:hover{
    border-top: 5px #006c80 solid;
    color: #006c80;
}

header{
    display: flex;
    flex-flow: row no-wrap;            /*flex-direction, flex-wrap*/
    justify-content: space-around;

    background-color: rgba(0, 0, 19.22, 0.3);
    color: black;
    padding: 10px 0 10px 0;
    
    /* border: 5px white solid; */
}
header h1{
    font-size: 50px;
}
header h2{
    font-size: 25px;
}
.earL{
    flex: 0 0 auto;          /* flex grow, flex shrink, flex basis*/
    align-self: center;

    background-color: rgba(255, 255, 255, 0.6);
    text-align: center;
    border: 2px black solid;
    border-radius: 30px;
    padding: 10px;

    transition-duration: 0.3s;
    cursor: pointer;
}
.earL:hover{
    background-color: rgba(255, 255, 255, 1);
}

.earR{
    flex: 0 0 auto;          /* flex grow, flex shrink, flex basis*/
    display: flex;

    margin-left: 25%;

    /* border: 5px black solid;    */
}
.earR_inner{
    flex: 0 0 auto;          /* flex grow, flex shrink, flex basis*/
    align-self: center;

    background-color: rgba(255, 255, 255, 0.6);
    text-align: center;
    margin-left: 25px;
    padding: 10px;
    border: 2px black solid;
    /* border-right: 5px black solid; */
    border-radius: 30px;
    
    transition-duration: 0.3s;
    cursor: pointer;
}
.earR_inner:hover{
    background-color: rgba(255, 255, 255, 1);
}
    
main {                                      /*holds site cards*/
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 50px 0 100px 0;
    background: rgba(0, 0, 19.22, 0.1);
    
    /* border: 5px white solid; */
}
.siteCard{
    display: flex;
    flex-flow: row wrap;            /*flex-direction, flex-wrap*/
    justify-content: center;

    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 30px;
    margin: 20px;
    color: #00224C;
    border: 1px black solid;

    transition-duration: 0.2s;

}
.siteCard:hover{
    /* border-radius: 30px; */
    /* border: 5px black solid; */
    background-color: rgba(255, 255, 255, 0.9);
}
.site{
    flex: 0 0 auto;          /* flex grow, flex shrink, flex basis*/
    align-items: center;

    padding: 10px;
    text-align: center;
    /* border: 5px white solid; */
}
.site img{
    border-radius: 10px;
    height: 164px;
    width: 313px;
}

.info{
    display: flex;
    flex: 0 0 auto;          /* flex grow, flex shrink, flex basis*/
    align-self: center;

    padding: 0px 5px 0px 10px;

    border-left: 4px black solid;
}
.info table{
    width: 250px;
    height: 150px;
    margin: auto;
    border-collapse: collapse;
}
.info th{
    font-size: 20px;
}

.resume{
    display: flex;
    flex-flow: column wrap;            /*flex-direction, flex-wrap*/

    background: rgba(0, 0, 19.22, 0.6);
    padding: 10px 10px 10px 25%;
    color: white;
    text-align: left;

    /* border: 10px white solid; */
}
.section{
    flex: 0 0 auto;          /* flex grow, flex shrink, flex basis*/

    padding-left: 10px;

    /* border: 5px red solid; */
}
.resume h2{
    font-size: 30px;
}


footer{
    display: flex;
    flex-flow: row wrap;

    /* background-color: #000031; */
    background: rgba(0, 0, 19.22, 0.9);
    color: white;
    padding: 40px;
}
footer a:link{
    color: white;
    text-decoration: none;
    transition-duration: 0.4s;
}
footer a:visited{
    color: white;
    text-decoration: none;
    transition-duration: 0.4s;
}
footer a:hover{
    color: grey;
}
footer a:active{
    color: white;
}
footer i{
    font-size: 10px;
}
.feet{
    flex: 1;
    align-self: center;

    text-align: center;
    /* border: 5px red solid; */
}
.feet table{
    margin: auto;
    border-collapse: collapse;
}
.feet td{   
    text-align: left;
    padding-left: 50px;
    padding-bottom: 10px;
}
.feet th{
    text-align: right;
    padding-bottom: 10px;
}



/* yellow #CDCE51 */